* {
  margin: 0%;
  padding: 0%;
}

.pinnedRepos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  border-color: #30363d
}

.reposContainer {
  background-color: #0d1117;
}

.pinnedContent {
  border: solid 2px black;
  box-sizing: border-box;
  margin: 3%;
}

.displayView {
  border-color: gray;
  color: gray;
  font-size: 15px;
}

.card {
  margin-bottom: 30px;
}

.card-title {
  color: #58a6ff
}

.card-body {
  background-color: #0d1117;
}

.card-text {
  color: lightgray;
}
